<button (click)="toggleChat()" class="chat-button fixed bottom-6 right-6">
  <i class="fa-sm" [ngClass]="isOpen ? 'fa fa-times' : 'far fa-comments'"></i>
</button>

<div *ngIf="isOpen" class="chat-widget fixed bottom-24 right-6 w-[350px] animate-slide-in">
  <chat-header [contactDetails]="contactDetails" (themeToggle)="toggleTheme()"
    (openTemplates)="toggleTemplates()"></chat-header>

  <div class="flex flex-col flex-1 overflow-hidden h-full">
    <ng-container *ngIf="!showTemplates">


      <div class="flex flex-col flex-1 overflow-hidden">
        <div *ngIf="isLoadingMessages" class="flex-1 flex items-center justify-center">
          <loader></loader>
        </div>
        <ng-container *ngIf="!isLoadingMessages">
          <chat-messages class="flex-1 min-h-0" [messages]="whatsappMessages"></chat-messages>
        </ng-container>

        <!-- <quick-reply
          [options]="['View order details', 'Track shipment', 'Request refund']"
          (reply)="handleQuickReply($event)">
        </quick-reply> -->

        <recording-overlay *ngIf="isRecording" [isRecording]="isRecording" (send)="voiceSent($event)"
          (cancel)="stopRecording()">
        </recording-overlay>

        <chat-input (micClick)="toggleRecording()" (messageSend)="sendMessage($event)">
        </chat-input>
      </div>
    </ng-container>
    <templates-screen *ngIf="showTemplates" (back)="toggleTemplates()"></templates-screen>
  </div>
</div>